{% extends 'stock/base.html' %}
{% load humanize %}

{% block breadcrumb %}
          <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
{% endblock %}

{% block content %}
<article>
  <section>
    <h1>{{title}}</h1>

    {% with stock.stock_code as stock_code %}
    {% include 'stock/inc/header_nav.html' %}
    {% endwith %}
    {% include 'stock/inc/stock_header.html' %}
  </section>

  <section class="col-md-10 mx-auto">
    <div>
      <div class="form-group row">
        <label for="type" class="justify-content-start col-sm-3 col-lg-2">日時</label>
        <div class="col-sm-9 col-lg-10">
          {{ note.publish_date }}
        </div>
      </div>
      <div class="form-group row">
        <label for="type" class="justify-content-start col-sm-3 col-lg-2">メモ種別</label>
        <div class="col-sm-9 col-lg-10">
          {% if note.type == 1 %}売買記録
          {% elif note.type == 2 %}分析記録
          {% else %}メモ
          {% endif %}
        </div>
      </div>
      <div class="form-group row">
        <label for="summary" class="justify-content-start col-sm-3 col-lg-2">概要</label>
        <div class="col-sm-9 col-lg-10">
          {{ note.summary|default:'' }}
        </div>
      </div>
      <div class="form-group row">
        <label for="notes" class="justify-content-start col-sm-3 col-lg-2">メモ</label>
        <div class="col-sm-9 col-lg-10">
          <pre>{{ note.notes }}</pre>
        </div>
      </div>
      <div class="form-group row">
        <label for="stock_price" class="justify-content-start col-sm-3 col-lg-2">株価</label>
        <div class="col-sm-9 col-lg-10">
          {% if note.stock_price is None %}
          -
          {% else %}
          {{ note.stock_price|default:'' |intcomma }}円
          {% endif %}
        </div>
      </div>
      <div class="form-group row">
        <label for="latest_high_price" class="justify-content-start col-sm-3 col-lg-2">直近高値</label>
        <div class="col-sm-9 col-lg-10">
          {% if note.latest_high_price is None %}
          -
          {% else %}
          {{ note.latest_high_price|default:'' |intcomma }}円
          {% endif %}
        </div>
      </div>
      <div class="form-group row">
        <label for="latest_low_price" class="justify-content-start col-sm-3 col-lg-2">直近安値</label>
        <div class="col-sm-9 col-lg-10">
          {% if note.latest_low_price is None %}
          -
          {% else %}
          {{ note.latest_low_price|default:'' |intcomma }}円
          {% endif %}
        </div>
      </div>
      <div class="form-group row">
        <label for="high_limit" class="justify-content-start col-sm-3 col-lg-2">壁</label>
        <div class="col-sm-9 col-lg-10">
          {% if note.high_limit is None %}
          -
          {% else %}
          {{ note.high_limit|default:'' }}
          {% endif %}
        </div>
      </div>
      <div class="form-group row">
        <label for="low_limit" class="justify-content-start col-sm-3 col-lg-2">押し目</label>
        <div class="col-sm-9 col-lg-10">
          {% if note.low_limit is None %}
          -
          {% else %}
          {{ note.low_limit|default:'' }}
          {% endif %}
        </div>
      </div>
      <div class="form-group row">
        <label for="buy_price" class="justify-content-start col-sm-3 col-lg-2">購入価格</label>
        <div class="col-sm-9 col-lg-10">
          {% if note.buy_price is None %}
          -
          {% else %}
          {{ note.buy_price|default:'' |intcomma }}円
          {% endif %}
        </div>
      </div>
      <div class="form-group row">
        <label for="profit_price" class="justify-content-start col-sm-3 col-lg-2">利確価格</label>
        <div class="col-sm-9 col-lg-10">
          {% if note.profit_price is None %}
          -
          {% else %}
          {{ note.profit_price|default:'' |intcomma }}円
          {% endif %}
        </div>
      </div>
      <div class="form-group row">
        <label for="loss_cut_price" class="justify-content-start col-sm-3 col-lg-2">損切価格</label>
        <div class="col-sm-9 col-lg-10">
          {% if note.loss_cut_price is None %}
          -
          {% else %}
          {{ note.loss_cut_price|default:'' |intcomma }}円
          {% endif %}
        </div>
      </div>
      <div class="form-group row">
        <label for="rr_rate" class="justify-content-start col-sm-3 col-lg-2">RR比率</label>
        <div class="col-sm-9 col-lg-10">
          {% if note.rr_rate is None %}
          -
          {% else %}
          {{ note.rr_rate|default:'' |default:'' |intcomma }}
          {% endif %}
        </div>
      </div>
      <p class="text-right small">Updated: {{ note.updated_date }}</p>
    </div>
    <div class="text-center my-5">
      <div>
        <a href="{% url 'note_edit' stock_code=stock.stock_code id=note.id %}" class="btn btn-primary">Edit</a>
      </div>
    </div>
    <div class="text-right my-5">
      <div class="">
        <a href="{% url 'note_delete' stock_code=stock.stock_code id=note.id %}" class="text-danger">Delete</a>
      </div>
    </div>
  </section>
</article>
{% endblock %}
