{% extends 'stock/base.html' %}
{% load django_template_maths %}
{% load humanize %}

{% block content %}
<article>
  <section>
    <h1>{{title}}</h1>

    {% with stock.stock_code as stock_code %}
    {% include 'stock/inc/header_nav_performance.html' %}
    {% endwith %}
    <div>
      {% include 'stock/inc/stock_header.html' %}
  </section>

  <section>
    <h2>Performance</h2>
    <div class="mt-4 table-responsive-md">
    {% if performances is Null %}
      <p>Nothing is registered.</p>
    {% else %}
      <table class="table table-striped">
        <thead class="small text-center">
          <tr>
            <th scope="col" rowspan="2">確定</th>
            <th scope="col" rowspan="2">年度</th>
            <th scope="col" rowspan="2">ソース</th>
            <th scope="col" rowspan="2">発行年月</th>
            <th scope="col" rowspan="2">売上高</th>
            <th scope="col" rowspan="2">経常利益</th>
            <th scope="col" rowspan="2">純利益</th>
            <th scope="col" rowspan="2">売上高経常利益率<br>直近3年で10%以上</th>
            <th scope="col" rowspan="2">経常利益純利益率<br>60-70%</th>
            <th scope="col" rowspan="2">予想PER<br>30以下</th>
            <th scope="col" rowspan="2">備考</th>
          </tr>
        </thead>
        <tbody>
        {% for performance in performances %}
          <tr>
            <td>{{ performance.is_established|yesno:'○,,' }}</td>
            <td>{{ performance.target_period }}</td>
            <td>
              {% if performance.source == 1 %}四
              {% elif performance.source == 2 %}会
              {% endif %}
            </td>
            <td>
              <a href="{% url 'performance_info' stock_code=stock.stock_code source=performance.source pub_year=performance.pub_year pub_month=performance.pub_month target_period=performance.target_period %}">
              {{ performance.pub_year }}.{{ performance.pub_month }}
              </a>
            </td>
            <td>
              {{ performance.sales_amount|intcomma }}
            </td>
            <td>
              {{ performance.ordinary_income|intcomma }}
            </td>
            <td>
              {{ performance.net_income|intcomma }}
            </td>
            {% with rate1=performance.ordinary_income|div:performance.sales_amount %}
            <td>
              {% if performance.ordinary_income == 0 or performance.sales_amount == 0 %}
                -
              {% else %}
               <span{% if rate1 < 0.1 %} class="text-danger"{% endif %}>{{ rate1|mul:100|floatformat:"-2" }}%</span>
              {% endif %}
            </td>
            {% endwith %}
            {% with rate2=performance.net_income|div:performance.ordinary_income %}
            <td>
              {% if performance.net_income == 0 or performance.ordinary_income == 0 %}
                -
              {% else %}
                <span{% if rate2 < 0.6 or rate2 > 0.7 %} class="text-danger"{% endif %}>{{ rate2|mul:100|floatformat:"-2" }}%</span>
              {% endif %}
            </td>
            {% endwith %}
            <td>
              <span{% if performance.per > 30 %} class="text-danger"{% endif %}>{{ performance.per|default:"-" }}</span>
            </td>
            <td>{{ performance.notes|default:"" }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
    </div>
  </section>
</article>
{% endblock %}
