{% extends 'stock/base.html' %}
{% load django_template_maths %}
{% load humanize %}

{% block content %}
<article>
  <section>
    <span class="badge badge-info">{{stock.watch_flag|yesno:"WATCHING,,"}}</span>
    <h1>{{title}}</h1>

    <p class="text-right small"><a href="{% url 'stock_edit' stock_code=stock.stock_code %}">Update Stock Info >></a></p>
    <div class="clearfix">
      <div class="float-md-left">
        <p class="d-inline-block"><span class="badge badge-secondary mr-1 align-text-bottom">決算月</span>{{stock.accounting_month}}月</p>
        <p class="d-inline-block ml-3"><span class="badge badge-secondary mr-1 align-text-bottom">業種</span>{{stock.business_type}}</p>
        <p>{{stock.notes}}</p>
      </div>
      <div class="float-md-right">
        <table class="table small">
          <tr>
            <th>Links</th>
            <td><a href="https://www.nikkei.com/nkd/company/?scode={{stock.stock_code}}" target="_blank">NIKKEI</a></td>
            <td>
            {% if not stock.ir_url is None %}
            <a href="{{stock.ir_url|default:''}}" target="_blank">IR</a>
            {% else %}
            &nbsp;
            {% endif %}
            </td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th>Register</th>
            <td><a href="{% url 'performance_new' stock_code=stock.stock_code %}">Performance</a></td>
            <td><a href="{% url 'shikiho_new' stock_code=stock.stock_code %}">Fundamentals</a></td>
            <td><a href="">Financial Summary</a></td>
          </tr>
        </table>
      </div>
    </div>
  </section>
  <section>
    <h2>Performance</h2>
    <div class="mt-4 table-responsive-md">
    {% if performances is Null %}
      <p>Nothing is registered.</p>
    {% else %}
      <table class="table table-striped">
        <thead class="small text-center">
          <tr>
            <th scope="col" rowspan="2">確定</th>
            <th scope="col" rowspan="2">年度</th>
            <th scope="col" rowspan="2">ソース</th>
            <th scope="col" rowspan="2">発行年月</th>
            <th scope="col" rowspan="2">売上高</th>
            <th scope="col" rowspan="2">経常利益</th>
            <th scope="col" rowspan="2">純利益</th>
            <th scope="col" rowspan="2">売上高経常利益率<br>直近3年で10%以上</th>
            <th scope="col" rowspan="2">経常利益純利益率<br>60-70%</th>
            <th scope="col" rowspan="2">予想PER<br>30以下</th>
            <th scope="col" rowspan="2">備考</th>
          </tr>
        </thead>
        <tbody>
        {% for performance in performances %}
          <tr>
            <td>{{ performance.is_established|yesno:'○,,' }}</td>
            <td>{{ performance.target_period }}</td>
              <td>
                {% if performance.source == 1 %}四
                {% elif performance.source == 2 %}会
                {% endif %}
              </td>
            <td>
              <a href="{% url 'performance_info' stock_code=stock_code source=performance.source pub_year=performance.pub_year pub_month=performance.pub_month target_period=performance.target_period %}">
              {{ performance.get_source_display }} {{ performance.pub_year }}.{{ performance.pub_month }}
              </a>
            </td>
            <td>
              {{ performance.sales_amount|intcomma }}円
            </td>
            <td>
              {{ performance.ordinary_income|intcomma }}円
            </td>
            <td>
              {{ performance.net_income|intcomma }}円
            </td>
            {% with rate1=performance.ordinary_income|div:performance.sales_amount %}
            <td>
              {% if performance.ordinary_income == 0 or performance.sales_amount == 0 %}
                -
              {% else %}
               <span{% if rate1 < 0.1 %} class="text-danger"{% endif %}>{{ rate1|mul:100|floatformat:"-2" }}%</span>
              {% endif %}
            </td>
            {% endwith %}
            {% with rate2=performance.net_income|div:performance.ordinary_income %}
            <td>
              {% if performance.net_income == 0 or performance.ordinary_income == 0 %}
                -
              {% else %}
                <span{% if rate2 < 0.6 or rate2 > 0.7 %} class="text-danger"{% endif %}>{{ rate2|mul:100|floatformat:"-2" }}%</span>
              {% endif %}
            </td>
            {% endwith %}
            <td>
              <span{% if performance.per > 30 %} class="text-danger"{% endif %}>{{ performance.per|default:"-" }}</span>
            </td>
            <td>{{ performance.notes|default:"" }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <p class="text-right small"><a href="{% url 'stock_detail' stock_code=stock.stock_code %}">Stock Summary >></a></p>
    {% endif %}
    </div>
  </section>
</article>
{% endblock %}
