{% extends 'stock/base.html' %}
{% load django_template_maths %}

{% block content %}
<article>
  <section>
    <span class="badge badge-info">{{stock.watch_flag|yesno:"WATCHING,,"}}</span>
    <h1>{{title}}</h1>

    <p class="text-right small"><a href="{% url 'stock_edit' stock_code=stock.stock_code %}">Update Stock Info >></a></p>
    <div class="clearfix">
      <div class="float-md-left">
        <p class="d-inline-block"><span class="badge badge-secondary mr-1 align-text-bottom">決算月</span>{{stock.accounting_month}}月</p>
        <p class="d-inline-block ml-3"><span class="badge badge-secondary mr-1 align-text-bottom">業種</span>{{stock.business_type}}</p>
        <p>{{stock.notes}}</p>
      </div>
      <div class="float-md-right">
        <table class="table small">
          <tr>
            <th>リンク</th>
            <td><a href="https://www.nikkei.com/nkd/company/?scode={{stock.stock_code}}" target="_blank">日経</a></td>
            <td>
            {% if not stock.ir_url is None %}
            <a href="{{stock.ir_url|default:''}}" target="_blank">IR</a>
            {% else %}
            &nbsp;
            {% endif %}
            </td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th>業績登録</th>
            <td><a href="{% url 'performance_new' stock_code=stock.stock_code %}">業績登録</a></td>
            <td><a href="{% url 'shikiho_new' stock_code=stock.stock_code %}">四季報</a></td>
            <td><a href="">決算短信</a></td>
          </tr>
        </table>
      </div>
    </div>
  </section>
  <section>
    <h2>Fundamentals</h2>
    <div class="mt-4 table-responsive-md">
    {% if shikihos is Null %}
      <p>Nothing is registered.</p>
    {% else %}
      <table class="table table-striped">
        <thead class="small text-center">
          <tr>
            <th scope="col" rowspan="2">発行年月</th>
            <th scope="col">自己資本比率</th>
            <th scope="col">ROE</th>
            <th scope="col">ROA</th>
            <th scope="col">営業CF</th>
            <th scope="col">投資CF</th>
            <th scope="col">財務CF</th>
            <th scope="col">時価総額（億）</th>
            <th scope="col">株主価値（億）</th>
          </tr>
          <tr>
            <th scope="col" colspan="2">見出し1</th>
            <th scope="col" colspan="2">見出し2</th>
            <th scope="col" colspan="4">備考	</th>
          </tr>
        </thead>
        <tbody>
        {% for shikiho in shikihos %}
          <tr>
            <td rowspan="2"><a href="{% url 'shikiho_info' stock_code=stock_code pub_year=shikiho.pub_year pub_month=shikiho.pub_month  %}">{{ shikiho.pub_year }}/{{ shikiho.pub_month }}</a></td>
            <td class="text-right">{{ shikiho.capital_ratio }}</td>
            <td class="text-right">{{ shikiho.roe }}</td>
            <td class="text-right">{{ shikiho.roa }}</td>
            <td class="text-center">{{ shikiho.operating_cf|yesno:"+,-," }}</td>
            <td class="text-center">{{ shikiho.investing_cf|yesno:"+,-," }}</td>
            <td class="text-center">{{ shikiho.financing_cf|yesno:"+,-," }}</td>
            <td class="text-right">{{ shikiho.market_capitalization }}</td>
            <td class="text-right"></td>
          </tr>
          <tr>
            <td colspan="2">{{ shikiho.headline_1|default:"" }}</td>
            <td colspan="2">{{ shikiho.headline_2|default:"" }}</td>
            <td colspan="4">{{ shikiho.notes }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <p class="text-right small"><a href="{% url 'stock_detail' stock_code=stock.stock_code %}">Latest >></a></p>
    {% endif %}
    </div>
  </section>
</article>
{% endblock %}
