{% extends 'stock/base.html' %}

{% block content %}
<article>
  <section>
    <h1>{{title}} <span class="badge badge-info ml-3 align-top">{{stock.watch_flag|yesno:"WATCHING,,"}}</span></h1>

    <p class="text-right small"><a href="/{{stock.stock_code}}/edit/">Update Stock Info</a></p>
    <div class="clearfix">
      <div class="float-md-left">
        <p class="d-inline-block"><span class="badge badge-secondary mr-1 align-text-bottom">決算月</span>{{stock.accounting_month}}月</p>
        <p class="d-inline-block ml-3"><span class="badge badge-secondary mr-1 align-text-bottom">業種</span>{{stock.business_type}}</p>
        <p>{{stock.notes}}</p>
      </div>
      <div class="float-md-right">
        <table class="table small">
          <tr>
            <th>リンク</th>
            <td><a href="https://www.nikkei.com/nkd/company/?scode={{stock.stock_code}}" target="_blank">日経</a></td>
            <td><a href="{{stock.ir_url}}" target="_blank">IR</a></td>
          </tr>
          <tr>
            <th>業績登録</th>
            <td><a href="/{{stock.stock_code}}/shikiho/new/">四季報</a></td>
            <td><a href="/{{stock.stock_code}}/result/new/">決算短信</a></td>
          </tr>
        </table>
      </div>
    </div>


    <div class="mt-4 table-responsive-md">
      <!--<table class="table table-striped">-->
        <!--<thead class="small text-center">-->
          <!--<tr>-->
            <!--<th scope="col">&nbsp;</th>-->
            <!--<th scope="col">コード</th>-->
            <!--<th scope="col">銘柄名</th>-->
            <!--<th scope="col">備考</th>-->
            <!--<th scope="col">株価</th>-->
            <!--<th scope="col">前日終値<br>比較</th>-->
            <!--<th scope="col">購入金額</th>-->
            <!--<th scope="col">損切価格</th>-->
            <!--<th scope="col">利益確定<br>価格</th>-->
          <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
      <!--{% for stock in stocks %}-->
          <!--<tr>-->
            <!--<td>{{stock.watch_flag|yesno:"○,ー,"}}</td>-->
            <!--<td><a href="/{{stock.stock_code}}/">{{stock.stock_code}}</a></td>-->
            <!--<td>{{stock.stock_name}}</td>-->
            <!--<td>{{stock.notes}}</td>-->
            <!--<td><a href="https://www.nikkei.com/nkd/company/?scode={{stock.stock_code}}" target="_blank" class="small">日経</a></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
          <!--</tr>-->
      <!--{% endfor %}-->
        <!--</tbody>-->
      <!--</table>-->
    </div>
  </section>
</article>
{% endblock %}
