{% extends 'stock/base.html' %}

{% block content %}
<article>
  <section>
    <h1>{{title}}</h1>
    <p class="text-right small"><a href="{% url 'stock_new' %}">Register Stock Info</a></p>
    <div class="mt-4 table-responsive-md">
      <form method="GET" action="" id="search_form">
        <table class="table">
          <thead class="small text-center">
            <tr>
              <th scope="col">Watching</th>
              <th scope="col">ステータス</th>
              <th scope="col">コード</th>
              <th scope="col">銘柄名</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <select name="watch_flag" id="watch_flag" class="form-control">
                  <option value=""></option>
                  <option value="1" {% if request.GET.watch_flag == "1" %}selected{% endif %}>○</option>
                  <option value="0" {% if request.GET.watch_flag == "0" %}selected{% endif %}>ー</option>
                </select>
              </td>
              <td>
                <select name="trade_status" id="trade_status" class="form-control">
                  <option value=""></option>
                  <option value="1">検討中</option>
                  <option value="2">保留</option>
                  <option value="3">損切り済</option>
                  <option value="4">利益確定済</option>
                </select>
              </td>
              <td><input type="text" name="stock_code" id="stock_code" value="{{request.GET.stock_code}}" class="form-control"></td>
              <td><input type="text" name="stock_name" id="stock_name" value="{{request.GET.stock_name}}" class="form-control"></td>
            </tr>
          </tbody>
        </table>
        <p class="text-center">
          <button type="submit" class="btn btn-dark">Search</button>
          <input type="reset" class="btn btn-light" value="Reset" onclick="resetValue();">
        </p>
      </form>

      <table class="table table-striped">
        <thead class="small text-center">
          <tr>
            <th scope="col">コード</th>
            <th scope="col">銘柄名</th>
            <th scope="col">備考</th>
            <th scope="col">株価</th>
            <!--<th scope="col">前日終値<br>比較</th>-->
            <!--<th scope="col">購入金額</th>-->
            <!--<th scope="col">損切価格</th>-->
            <!--<th scope="col">利益確定<br>価格</th>-->
            <th scope="col">Watching</th>
          </tr>
        </thead>
        <tbody>
      {% for stock in stocks %}
          <tr>

            <td class="text-right"><a href="{% url 'stock_detail' stock_code=stock.stock_code %}">{{stock.stock_code}}</a></td>
            <td>{{stock.stock_name}} <span class="badge badge-info">{{stock.watch_flag|yesno:"WATCHING,,"}}</span></td>
            <td>{{stock.notes}}</td>
            <td><a href="https://www.nikkei.com/nkd/company/?scode={{stock.stock_code}}" target="_blank" class="small">日経</a></td>
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <td class="text-center">{{stock.watch_flag|yesno:"○,ー,ー"}}</td>
          </tr>
      {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</article>
<script>
  var resetValue = function() {
    [].forEach.call(
      document.querySelectorAll('#search_form *'),
      function(element, index) {
        if(element.type=='select-one') {
          element.selectedIndex = 0;
        } else if(element.type=='text') {
          element.defaultValue = '';
        }
        return;
      }
    )
  }
</script>
{% endblock %}
