{% extends 'stock/base.html' %}

{% block content %}

<article>
  <section>
    <h1>{{title}}</h1>

    <p class="text-right small"><a href="{% url 'stock_new' %}">Register Stock Info >></a></p>
    <div class="mt-4 table-responsive-md">
      <form method="GET" action="" id="search_form">
        <table class="table">
          <thead class="small text-center">
            <tr>
              <!--<th scope="col">手持ち銘柄</th>-->
              <th scope="col">銘柄コード</th>
              <th scope="col">銘柄名</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!--<td>-->
                <!--<select name="watch_flag" id="watch_flag" class="form-control">-->
                  <!--<option value=""></option>-->
                  <!--<option value="1" {% if request.GET.watch_flag == "1" %}selected{% endif %}>○</option>-->
                  <!--<option value="0" {% if request.GET.watch_flag == "0" %}selected{% endif %}>ー</option>-->
                <!--</select>-->
              <!--</td>-->
              <td><input type="text" name="stock_code" id="stock_code" value="{{request.GET.stock_code}}" class="form-control"></td>
              <td><input type="text" name="stock_name" id="stock_name" value="{{request.GET.stock_name}}" class="form-control"></td>
            </tr>
          </tbody>
        </table>
        <p class="text-center">
          <button type="submit" class="btn btn-dark">Search</button>
          <input type="reset" class="btn btn-light" value="Reset" onclick="resetValue();">
        </p>
      </form>

      <h2><span class="badge badge-info">WATCHING</span></h2>
      {% if watching|length == 0 %}
      <p>Nothing is registered.</p>
      {% else %}
      <table class="table table-striped table-bordered">
        {% include 'stock/inc/stock_list_thead.html' %}
        <tbody>
        {% for stock in watching %}
          {% include 'stock/inc/stock_list_tbody.html' %}
        {% endfor %}
        </tbody>
      </table>
      {% endif %}

      <hr>

      <h2><span class="badge badge-warning">CONSIDERING</span></h2>
      {% if considering|length == 0 %}
      <p>Nothing is registered.</p>
      {% else %}
      <table class="table table-striped table-bordered">
        {% include 'stock/inc/stock_list_thead.html' %}
        {% for stock in considering %}
          {% include 'stock/inc/stock_list_tbody.html' %}
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>

    <hr>

      <h2><span class="badge badge-secondary">OTHERS</span></h2>
      {% if unwatching|length == 0 %}
      <p>Nothing is registered.</p>
      {% else %}
      <table class="table table-striped table-bordered">
        {% include 'stock/inc/stock_list_thead.html' %}
        <tbody>
        {% for stock in unwatching %}
          {% include 'stock/inc/stock_list_tbody.html' %}
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </section>
</article>
<script>
  var resetValue = function() {
    [].forEach.call(
      document.querySelectorAll('#search_form *'),
      function(element, index) {
        if(element.type=='select-one') {
          element.selectedIndex = 0;
        } else if(element.type=='text') {
          element.defaultValue = '';
        }
        return;
      }
    )
  }
</script>
{% endblock %}
