{% extends 'stock/base.html' %}
{% load django_template_maths %}
{% load humanize %}

{% block content %}
<article>
  <section>
    <h1>{{title}}</h1>

    <div class="text-right small">
      <p class="d-inline-block"><strong>Register</strong></p>
      <p class="d-inline-block ml-3"><a href="{% url 'note_new' stock_code=stock.stock_code %}">Notes</a></p>
      <p class="d-inline-block ml-3"><a href="{% url 'performance_new' stock_code=stock.stock_code %}">Performance</a></p>
      <p class="d-inline-block ml-3"><a href="{% url 'shikiho_new' stock_code=stock.stock_code %}">Quarterly</a></p>
    </div>
    {% include 'stock/inc/stock_header.html' %}
  </section>

    <section>
    <h2>Note</h2>
    <div class="mt-4 table-responsive-md">
      {% include 'stock/inc/note_list_table.html' %}
      <p class="text-right small"><a href="{% url 'note_all' stock_code=stock.stock_code %}">Note History >></a></p>
    </div>

    <h2>Quarterly</h2>
    <div class="mt-4 table-responsive-md">
      {% include 'stock/inc/shikiho_list_table.html' %}
      <p class="text-right small"><a href="{% url 'shikiho_all' stock_code=stock.stock_code %}">Quarterly History >></a></p>
    </div>

    <h2>Performance</h2>
    <div class="mt-4 table-responsive-md">
    {% if performance_latest is Null %}
      <p>Nothing is registered.</p>
    {% else %}
      <table class="table table-striped">
        <thead class="small text-center">
          <tr>
            <th scope="col" rowspan="2">確定</th>
            <th scope="col" rowspan="2">年度</th>
            <th scope="col" rowspan="2">ソース</th>
            <th scope="col" rowspan="2">発行年月</th>
            <th scope="col" rowspan="2">売上高<br>(百万円)</th>
            <th scope="col" rowspan="2">経常利益<br>(百万円)</th>
            <th scope="col" rowspan="2">純利益<br>(百万円)</th>
            <th scope="col" colspan="3">前年度増減率(%) <span class="small">(5%以上)</span></th>
            <th scope="col" rowspan="2">売上高<br>経常利益率<br>(%)<br><span class="small">(直近3年10%以上)</span></th>
            <th scope="col" rowspan="2">経常利益<br>純利益率<br>(%)<br><span class="small">(60-70%)</span></th>
            <th scope="col" rowspan="2">予想PER<br><span class="small">(30以下)</span></th>
            <th scope="col" rowspan="2">備考</th>
          </tr>
          <tr>
            <th scope="col">売上高</th>
            <th scope="col">経常利益</th>
            <th scope="col">純利益</th>
          </tr>
        </thead>
        <tbody class="text-right">
        {% for performance in performance_latest %}
          <tr>
            <td class="text-center">{{ performance.is_established|yesno:'○,,' }}</td>
            <td>{{ performance.target_period }}</td>
            <td class="text-center">
              {% if performance.source == 1 %}四
              {% elif performance.source == 2 %}会
              {% endif %}
            </td>
            <td>
              <a href="{% url 'performance_info' stock_code=stock_code source=performance.source pub_year=performance.pub_year pub_month=performance.pub_month target_period=performance.target_period %}">
              {{ performance.get_source_display }} {{ performance.pub_year }}.{{ performance.pub_month }}
              </a>
            </td>
            <td>
              {{ performance.sales_amount|intcomma }}
            </td>
            <td>
              {{ performance.ordinary_income|intcomma }}
            </td>
            <td>
              {{ performance.net_income|intcomma }}
            </td>
            <td>
              {% if forloop.counter0 == 0 %}-
              {% else %}
                <span{% if performance.sales_amount_yoy < 0.05 and loop.counter0 != 0 %} class="text-danger"{% endif %}> {{ performance.sales_amount_yoy|mul:100|floatformat:"-2" }}</span>
              {% endif %}
            </td>
            <td>
              {% if forloop.counter0 == 0 %}-
              {% else %}
                <span{% if performance.ordinary_income_yoy < 0.05 %} class="text-danger"{% endif %}>{{ performance.ordinary_income_yoy|mul:100|floatformat:"-2" }}</span>
              {% endif %}
            </td>
            <td>
              {% if forloop.counter0 == 0 %}-
              {% else %}
                <span{% if performance.net_income_yoy < 0.05 %} class="text-danger"{% endif %}>{{ performance.net_income_yoy|mul:100|floatformat:"-2" }}</span>
              {% endif %}
            </td>
            {% with rate1=performance.ordinary_income|div:performance.sales_amount %}
            <td>
              {% if performance.ordinary_income == 0 or performance.sales_amount == 0 %}
                -
              {% else %}
               <span{% if rate1 < 0.1 %} class="text-danger"{% endif %}>{{ rate1|mul:100|floatformat:"-2" }}</span>
              {% endif %}
            </td>
            {% endwith %}
            {% with rate2=performance.net_income|div:performance.ordinary_income %}
            <td>
              {% if performance.net_income == 0 or performance.ordinary_income == 0 %}
                -
              {% else %}
                <span{% if rate2 < 0.6 or rate2 > 0.7 %} class="text-danger"{% endif %}>{{ rate2|mul:100|floatformat:"-2" }}</span>
              {% endif %}
            </td>
            {% endwith %}
            <td>
              <span{% if performance.per > 30 %} class="text-danger"{% endif %}>{{ performance.per|default:"-" }}</span>
            </td>
            <td>{{ performance.notes|default:"" }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
      <p class="text-right small"><a href="{% url 'performance_all' stock_code=stock.stock_code %}">Performance History >></a></p>
    </div>
  </section>
</article>
{% endblock %}
