{% extends 'stock/base.html' %}
{% load django_template_maths %}
{% load humanize %}

{% block content %}
<article>
  <section>
    <h1>{{title}}</h1>

    <div class="text-right small">
      <p class="d-inline-block"><strong>Register</strong></p>
      <p class="d-inline-block ml-3"><a href="{% url 'note_new' stock_code=stock.stock_code %}">Notes</a></p>
      <p class="d-inline-block ml-3"><a href="{% url 'performance_new' stock_code=stock.stock_code %}">Performance</a></p>
      <p class="d-inline-block ml-3"><a href="{% url 'shikiho_new' stock_code=stock.stock_code %}">Quarterly</a></p>
    </div>
    {% include 'stock/inc/stock_header.html' %}
  </section>

    <section>
    <h2>Note</h2>
    <div class="mt-4 table-responsive-md">
    {% if note_latest is Null %}
      <p>Nothing is registered.</p>
    {% else %}
      <table class="table table-striped table-bordered">
        <thead class="small text-center">
          <tr>
            <th width="25%" scope="col">日時</th>
            <th width="20%" scope="col">メモ種別</th>
            <th width="55%" scope="col">備考	</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="{% url 'note_info' stock_code=stock.stock_code id=note_latest.id %}">{{ note_latest.publish_date}}</a></td>
            <td>
              {% if note_latest.type == 1 %}売買記録
              {% elif note_latest.type == 2 %}分析記録
              {% else %}メモ
              {% endif %}
            </td>
            <td>{{ note_latest.summary|default:'' }}</td>
          </tr>
        </tbody>
      </table>
      <p class="text-right small"><a href="{% url 'note_all' stock_code=stock.stock_code %}">Note History >></a></p>
    {% endif %}
    </div>

    <h2>Quarterly</h2>
    <div class="mt-4 table-responsive-md">
    {% if shikiho_latest is Null %}
      <p>Nothing is registered.</p>
    {% else %}
      <table class="table table-striped table-bordered">
        <thead class="small text-center">
          <tr>
            <th scope="col" rowspan="2">発行年月</th>
            <th scope="col">自己資本比率<br>40%以上</th>
            <th scope="col">ROE<br>10%以上</th>
            <th scope="col">ROA<br>5%以上</th>
            <th scope="col">営業CF<br>+</th>
            <th scope="col">投資CF<br>-</th>
            <th scope="col">財務CF<br>-</th>
            <th scope="col">時価総額（億）<br>500未満</th>
            <th scope="col">株主価値（億）</th>
          </tr>
          <tr>
            <th scope="col" colspan="2">見出し1</th>
            <th scope="col" colspan="2">見出し2</th>
            <th scope="col" colspan="4">備考	</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2"><a href="{% url 'shikiho_info' stock_code=stock_code pub_year=shikiho_latest.pub_year pub_month=shikiho_latest.pub_month  %}">{{ shikiho_latest.pub_year }}/{{ shikiho_latest.pub_month }}</a></td>
            <td class="text-right">
              <span{% if shikiho_latest.capital_ratio < 40 %} class="text-danger"{% endif %}>{{ shikiho_latest.capital_ratio }}%</span>
            </td>
            <td class="text-right">
              <span{% if shikiho_latest.roe < 10 %} class="text-danger"{% endif %}>{{ shikiho_latest.roe }}%</span>
            </td>
            <td class="text-right">
              <span{% if shikiho_latest.roa < 5 %} class="text-danger"{% endif %}>{{ shikiho_latest.roa }}%</span>
            </td>
            <td class="text-center">
              <span{% if shikiho_latest.operating_cf == False %} class="text-danger"{% endif %}>{{ shikiho_latest.operating_cf|yesno:"+,-," }}</span>
            </td>
            <td class="text-center">
              <span{% if shikiho_latest.investing_cf == True %} class="text-danger"{% endif %}>{{ shikiho_latest.investing_cf|yesno:"+,-," }}</span>
            </td>
            <td class="text-center">
              <span{% if shikiho_latest.financing_cf == True %} class="text-danger"{% endif %}>{{ shikiho_latest.financing_cf|yesno:"+,-," }}</span>
            </td>
            <td class="text-right">
              <span{% if shikiho_latest.market_capitalization > 500  %} class="text-danger"{% endif %}>{{ shikiho_latest.market_capitalization|intcomma }}</span>
            </td>
            <td class="text-right"></td>
          </tr>
          <tr>
            <td colspan="2">{{ shikiho_latest.headline_1|default:"" }}</td>
            <td colspan="2">{{ shikiho_latest.headline_2|default:"" }}</td>
            <td colspan="4">{{ shikiho_latest.notes }}</td>
          </tr>
        </tbody>
      </table>
      <p class="text-right small"><a href="{% url 'shikiho_all' stock_code=stock.stock_code %}">Quarterly History >></a></p>
    {% endif %}
    </div>

    <h2>Performance</h2>
    <div class="mt-4 table-responsive-md">
    {% if performance_latest is Null %}
      <p>Nothing is registered.</p>
    {% else %}
      <table class="table table-striped">
        <thead class="small text-center">
          <tr>
            <th scope="col" rowspan="2">確定</th>
            <th scope="col" rowspan="2">年度</th>
            <th scope="col" rowspan="2">ソース</th>
            <th scope="col" rowspan="2">発行年月</th>
            <th scope="col" rowspan="2">売上高</th>
            <th scope="col" rowspan="2">経常利益</th>
            <th scope="col" rowspan="2">純利益</th>
            <th scope="col" colspan="3">前年度増減率：5%以上</th>
            <th scope="col" rowspan="2">売上高経常利益率<br>直近3年で10%以上</th>
            <th scope="col" rowspan="2">経常利益純利益率<br>60-70%</th>
            <th scope="col" rowspan="2">予想PER<br>30以下</th>
            <th scope="col" rowspan="2">備考</th>
          </tr>
          <tr>
            <th scope="col">売上高</th>
            <th scope="col">経常利益</th>
            <th scope="col">純利益</th>
          </tr>
        </thead>
        <tbody class="text-right">
        {% for performance in performance_latest %}
          <tr>
            <td class="text-center">{{ performance.is_established|yesno:'○,,' }}</td>
            <td>{{ performance.target_period }}</td>
            <td class="text-center">
              {% if performance.source == 1 %}四
              {% elif performance.source == 2 %}会
              {% endif %}
            </td>
            <td>
              <a href="{% url 'performance_info' stock_code=stock_code source=performance.source pub_year=performance.pub_year pub_month=performance.pub_month target_period=performance.target_period %}">
              {{ performance.get_source_display }} {{ performance.pub_year }}.{{ performance.pub_month }}
              </a>
            </td>
            <td>
              {{ performance.sales_amount|intcomma }}
            </td>
            <td>
              {{ performance.ordinary_income|intcomma }}
            </td>
            <td>
              {{ performance.net_income|intcomma }}
            </td>
            <td>
              {% if forloop.counter0 == 0 %}-
              {% else %}
                <span{% if performance.sales_amount_yoy < 0.05 and loop.counter0 != 0 %} class="text-danger"{% endif %}> {{ performance.sales_amount_yoy|mul:100|floatformat:"-2" }}%</span>
              {% endif %}
            </td>
            <td>
              {% if forloop.counter0 == 0 %}-
              {% else %}
                <span{% if performance.ordinary_income_yoy < 0.05 %} class="text-danger"{% endif %}>{{ performance.ordinary_income_yoy|mul:100|floatformat:"-2" }}%</span>
              {% endif %}
            </td>
            <td>
              {% if forloop.counter0 == 0 %}-
              {% else %}
                <span{% if performance.net_income_yoy < 0.05 %} class="text-danger"{% endif %}>{{ performance.net_income_yoy|mul:100|floatformat:"-2" }}%</span>
              {% endif %}
            </td>
            {% with rate1=performance.ordinary_income|div:performance.sales_amount %}
            <td>
              {% if performance.ordinary_income == 0 or performance.sales_amount == 0 %}
                -
              {% else %}
               <span{% if rate1 < 0.1 %} class="text-danger"{% endif %}>{{ rate1|mul:100|floatformat:"-2" }}%</span>
              {% endif %}
            </td>
            {% endwith %}
            {% with rate2=performance.net_income|div:performance.ordinary_income %}
            <td>
              {% if performance.net_income == 0 or performance.ordinary_income == 0 %}
                -
              {% else %}
                <span{% if rate2 < 0.6 or rate2 > 0.7 %} class="text-danger"{% endif %}>{{ rate2|mul:100|floatformat:"-2" }}%</span>
              {% endif %}
            </td>
            {% endwith %}
            <td>
              <span{% if performance.per > 30 %} class="text-danger"{% endif %}>{{ performance.per|default:"-" }}</span>
            </td>
            <td>{{ performance.notes|default:"" }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <p class="text-right small"><a href="{% url 'performance_all' stock_code=stock.stock_code %}">Performance History >></a></p>
    {% endif %}
    </div>
  </section>
</article>
{% endblock %}
